# Domain & SSL
DOMAIN=
CF_EMAIL=
CF_API_KEY=
CF_ZONE_ID=

# API Configuration
API_PORT=9000
API_KEY=

# Telegram Bot
BOT_TOKEN=
ADMIN_ID=

# AWS CloudFront (Optional)
AWS_ACCESS_KEY_ID="your-aws-access-key"
AWS_SECRET_ACCESS_KEY="your-aws-secret-key"

# Timezone
TIMEZONE="Asia/Jakarta"

# Swap
SWAP_SIZE="1G"  # atau "2G"